.container {
  max-width: 1200px;
}

[Color]*/ .cl0 {
  color: #fff;
}

.s2-txt1 {
  font-size: 15px;
  line-height: 1.5;
  color: #555555;
}

.s2-txt2 {
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
}

.s2-txt3 {
  font-size: 14px;
  line-height: 1.5;
  color: #999999;
}

.s2-txt4 {
  font-size: 12px;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
}

.m1-txt1 {
  font-size: 24px;
  line-height: 1.5;
  color: #555555;
}

.m1-txt2 {
  font-size: 24px;
  line-height: 1.5;
  color: #555555;
  font-weight: bold;
}

.l2-txt1 {
  font-size: 40px;
  line-height: 1;
  color: #fff;
}

.size1 {
  width: 100%;
  min-height: 100vh;
}

.size2 {
  height: 100%;
  width: 71%;
}

.size3 {
  max-width: 650px;
  min-height: 100vh;
}

.size4 {
  width: 100%;
  height: 50px;
}

.size5 {
  width: 36px;
  height: 36px;
}

.size6 {
  width: 155px;
  height: 155px;
}

.wsize1 {
  max-width: 650px;
}

.wsize2 {
  max-width: 380px;
}

.hsize1 {
  min-height: 100vh;
}

.bgicon {
  background-color: #fff;
}

.fa {
  color: #bbb;
}
.bg-img1 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bo1 {
  border: 1px solid #ebebeb;
}

.bor1 {
  border-radius: 5px;
}

.bor2 {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.where1-parent {
  position: relative;
  z-index: 1;
}

.where1 {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
}

.where2 {
  padding: 50px 50px 150px 320px;
}
.how1 {
  border-radius: 50%;
  font-size: 22px;
  color: #fff;
}
@media (max-width: 992px) {
  .parallax100 {
    background-attachment: inherit;
  }
}

.overlay1 {
  overflow: hidden;
  transition: background 1.5s linear;
}

.overlay1::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -3;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.overlay1::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -2;
  top: 0;
  right: 100%;
  width: 10000px;
  height: 100%;
  background-color: #fff;
  transform-origin: bottom right;
  -webkit-transform: skewX(156deg);
  -moz-transform: skewX(156deg);
  -ms-transform: skewX(156deg);
  -o-transform: skewX(156deg);
  transform: skewX(156deg);
}

/*---------------------------------------------*/
.wrap-pic1 {
  width: 50%;
}
.wrap-pic1 img {
  max-width: 100%;
}

/*//////////////////////////////////////////////////////////////////
[ Pseudo ]*/

/*------------------------------------------------------------------
[ Hover ]*/
.hov-cl0:hover {
  color: #fff;
}
.hov-bg0:hover {
  background-color: #fff;
}
/*---------------------------------------------*/
.hov1:hover {
  background-color: #555555;
}

/*==================================================================
  RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE
==================================================================*/

/*//////////////////////////////////////////////////////////////////
[ XXL ]*/
@media (max-width: 1600px) {
  .respon1 {
    max-width: 38%;
  }
}

/*//////////////////////////////////////////////////////////////////
[ XL ]*/
@media (max-width: 1200px) {
  .m-0-xl {
    margin: 0;
  }
  .m-lr-0-xl {
    margin-left: 0;
    margin-right: 0;
  }
  .m-lr-15-xl {
    margin-left: 15px;
    margin-right: 15px;
  }
  .m-l-0-xl {
    margin-left: 0;
  }
  .m-r-0-xl {
    margin-right: 0;
  }
  .m-l-15-xl {
    margin-left: 15px;
  }
  .m-r-15-xl {
    margin-right: 15px;
  }

  .p-0-xl {
    padding: 0;
  }
  .p-lr-0-xl {
    padding-left: 0;
    padding-right: 0;
  }
  .p-lr-15-xl {
    padding-left: 15px;
    padding-right: 15px;
  }
  .p-l-0-xl {
    padding-left: 0;
  }
  .p-r-0-xl {
    padding-right: 0;
  }
  .p-l-15-xl {
    padding-left: 15px;
  }
  .p-r-15-xl {
    padding-right: 15px;
  }

  .w-full-xl {
    width: 100%;
  }

  /*---------------------------------------------*/
  .respon1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

/*//////////////////////////////////////////////////////////////////
[ LG ]*/
@media (max-width: 992px) {
  .m-0-lg {
    margin: 0;
  }
  .m-lr-0-lg {
    margin-left: 0;
    margin-right: 0;
  }
  .m-lr-15-lg {
    margin-left: 15px;
    margin-right: 15px;
  }
  .m-l-0-lg {
    margin-left: 0;
  }
  .m-r-0-lg {
    margin-right: 0;
  }
  .m-l-15-lg {
    margin-left: 15px;
  }
  .m-r-15-lg {
    margin-right: 15px;
  }

  .p-0-lg {
    padding: 0;
  }
  .p-lr-0-lg {
    padding-left: 0;
    padding-right: 0;
  }
  .p-lr-15-lg {
    padding-left: 15px;
    padding-right: 15px;
  }
  .p-l-0-lg {
    padding-left: 0;
  }
  .p-r-0-lg {
    padding-right: 0;
  }
  .p-l-15-lg {
    padding-left: 15px;
  }
  .p-r-15-lg {
    padding-right: 15px;
  }

  .w-full-lg {
    width: 100%;
  }

  /*---------------------------------------------*/
  .respon1 {
    max-width: 650px;
    min-height: unset;
    padding-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  /*---------------------------------------------*/
  .respon2 {
    position: relative;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .respon2::after {
    top: 100%;
    right: 0;
    width: 100%;
    height: 10000px;
    transform-origin: top right;
    -webkit-transform: skew(180deg, 8deg);
    -moz-transform: skew(180deg, 8deg);
    -ms-transform: skew(180deg, 8deg);
    -o-transform: skew(180deg, 8deg);
    transform: skew(180deg, 8deg);
  }
}

/*//////////////////////////////////////////////////////////////////
[ MD ]*/
@media (max-width: 768px) {
  .m-0-md {
    margin: 0;
  }
  .m-lr-0-md {
    margin-left: 0;
    margin-right: 0;
  }
  .m-lr-15-md {
    margin-left: 15px;
    margin-right: 15px;
  }
  .m-l-0-md {
    margin-left: 0;
  }
  .m-r-0-md {
    margin-right: 0;
  }
  .m-l-15-md {
    margin-left: 15px;
  }
  .m-r-15-md {
    margin-right: 15px;
  }

  .p-0-md {
    padding: 0;
  }
  .p-lr-0-md {
    padding-left: 0;
    padding-right: 0;
  }
  .p-lr-15-md {
    padding-left: 15px;
    padding-right: 15px;
  }
  .p-l-0-md {
    padding-left: 0;
  }
  .p-r-0-md {
    padding-right: 0;
  }
  .p-l-15-md {
    padding-left: 15px;
  }
  .p-r-15-md {
    padding-right: 15px;
  }

  .w-full-md {
    width: 100%;
  }
  /*---------------------------------------------*/
}

/*//////////////////////////////////////////////////////////////////
[ SM ]*/
@media (max-width: 576px) {
  .m-0-sm {
    margin: 0;
  }
  .m-lr-0-sm {
    margin-left: 0;
    margin-right: 0;
  }
  .m-lr-15-sm {
    margin-left: 15px;
    margin-right: 15px;
  }
  .m-l-0-sm {
    margin-left: 0;
  }
  .m-r-0-sm {
    margin-right: 0;
  }
  .m-l-15-sm {
    margin-left: 15px;
  }
  .m-r-15-sm {
    margin-right: 15px;
  }

  .p-0-sm {
    padding: 0;
  }
  .p-lr-0-sm {
    padding-left: 0;
    padding-right: 0;
  }
  .p-lr-15-sm {
    padding-left: 15px;
    padding-right: 15px;
  }
  .p-l-0-sm {
    padding-left: 0;
  }
  .p-r-0-sm {
    padding-right: 0;
  }
  .p-l-15-sm {
    padding-left: 15px;
  }
  .p-r-15-sm {
    padding-right: 15px;
  }

  .w-full-sm {
    width: 100%;
  }
}

/*//////////////////////////////////////////////////////////////////
[ SSM ]*/
@media (max-width: 480px) {
  .m-0-ssm {
    margin: 0;
  }
  .m-lr-0-ssm {
    margin-left: 0;
    margin-right: 0;
  }
  .m-lr-15-ssm {
    margin-left: 15px;
    margin-right: 15px;
  }
  .m-l-0-ssm {
    margin-left: 0;
  }
  .m-r-0-ssm {
    margin-right: 0;
  }
  .m-l-15-ssm {
    margin-left: 15px;
  }
  .m-r-15-ssm {
    margin-right: 15px;
  }

  .p-0-ssm {
    padding: 0;
  }
  .p-lr-0-ssm {
    padding-left: 0;
    padding-right: 0;
  }
  .p-lr-15-ssm {
    padding-left: 15px;
    padding-right: 15px;
  }
  .p-l-0-ssm {
    padding-left: 0;
  }
  .p-r-0-ssm {
    padding-right: 0;
  }
  .p-l-15-ssm {
    padding-left: 15px;
  }
  .p-r-15-ssm {
    padding-right: 15px;
  }

  .w-full-ssm {
    width: 100%;
  }
}

a.typeform-share {
  display: inline-block;
  text-decoration: none;
  background-color: #ec0000;
  color: white;
  cursor: pointer;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  margin: 0;
  height: 50px;
  padding: 0px 33px;
  border-radius: 5px;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
